/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
.passion-one{
    font-family: 'Passion One', cursive;
}

:root{
    --primaryC: #BCE10C;
    --whiteC: #F2FEDC;
    --blackC: #464838;
}

/* SFONDI */
.bg-primaryC{
    background-color: var(--primaryC);
}
.bg-whiteC{
    background-color: var(--whiteC);
}
.bg-blackC{
    background-color: var(--blackC);
}

/* COLORI TESTO */
.text-primaryC{
    color: var(--primaryC);
}
.text-whiteC{
    color: var(--whiteC);
}
.text-blackC{
    color: var(--blackC);
}

/* NAVBAR */


/* HEADER */
.header{
    
}
.foto-header{
    height: 400px;
    width: 300px;
    transition: 1.2s;
}
.foto-header:hover{
    height: 500px;
    width: 400px;
}
